<header>
    <ul>
        <a href="pages/cart.html">
            <img class="icon" src="/images/icon/icon-shopping.png" alt="shopping">
        </a>
        <a href="#">
            <img class="icon" src="/images/icon/icon-gplus.png" alt="gplus">
        </a>
        <a href="#">
            <img class="icon" src="/images/icon/icon-face.png" alt="face">
        </a>
        <a class="overlayLinkSignIn">Sign in</a>
        <a class="overlayLinkSignUp">Sign up</a>
    </ul>
</header>

<div id="bttop" style="display: block;">
    <img src="/images/arrow/up-arrow.png">
</div>

<nav id="navbar">
    <a href="../index.html">
        <img src="/images/logo/logo.png" alt="Logo" id="logo"></img>
    </a>
    <ul>
        <a href="pages/printTshirt.html">In áo thun</a>
        <a href="pages/shop.html">Shop</a>
        <a href="pages/design.html">Design</a>
        <img src="/images/icon/icon-search.png" alt="Search" class="icon">
    </ul>
</nav>