<script src="/javascript/admin.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/style/clothes.css"/>

<h2 id="title">Tổng quan</h2>

<section id="sumary">
    <form class="form-inline">
        <label for="start">From: </label>
        <input type="date" class="form-control" id="start" placeholder="dd/mm/yyyy" required>
        <img class="icon" src="/images/admin/icon-calendar.png" alt="">
        <label for="end">To: </label>
        <input type="date" class="form-control" id="end" placeholder="dd/mm/yyyy" required>
        <img class="icon" src="/images/admin/icon-calendar.png" alt="">
        <button type="button" class="btn btn-secondary">Xem doanh thu</button>
    </form>
    <div id="chartdiv"></div>
    <section id="content">
        <h5>Tổng chi:</h5>
        <p>38.000 $</p>
        <h5>Tổng thu:</h5>
        <p>56.300 $</p>
        <h5>Thu nhập</h5>
        <p>12.000 $</p>
        <h5>Chỉ số tăng trưởng:</h5>
        <p>1.25</p>
    </section>
</section>

<section id="inventory">
    <h2>Danh sách loại sản phẩm</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Mã</th>
                <th scope="col">Loại</th>
                <th scope="col"><img onclick="return filter(0)" class="cursor icon" src="/images/admin/icon-add.png" alt="add"></th>
            </tr>
        </thead>
        <tbody>
            {{#each type}}
            <tr id="col{{id}}">
                <td scope="row">{{id}}</td>
                <td>{{Name}}</td>
                <td>
                    <img onclick="return filter({{id}})" class="cursor" src="/images/admin/icon-edit.png" alt="edit">
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>

<div class="overlay add-cloth" style="display: none;">
    <div class="login-wrapper">
        <div class="login-content">
            <a class="close">x</a>
            <h3>Quản lý loại áo</h3>
            <form action="/admin/type" method="POST">
                <div id="form">
                    <label for="code">Mã loại:</label>
                    <input class="text" type="text" name="code" id="code" readonly>
                    <br>
                    <label for="name">Tên loại:</label>
                    <input class="text" type="text" name="name" id="name">
                    <br>
                    <br>
                    <button onclick="alert('thêm')" name="type" value="add" type="submit" class="btn btn-success submitbutton butAdd">Thêm</button>
                    <button onclick="alert('sửa')" name="type" value="edit" type="submit" class="btn btn-info submitbutton butChange">Sửa</button>
                    <button onclick="alert('xóa')" name="type" value="del" type="submit" class="btn btn-danger submitbutton butChange">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>